*{
    font-family: Roboto, Courier, monospace;
    box-sizing: border-box;
    padding: 0px;
}

body, html{
    margin:0;
    padding:0;
}

.header, .header-right, .main-container{
    display: flex;
}

.bg-header, .bg-top-panel{
    background-color: #1F2937;
}

.mid-panel-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    height: 60px;
    margin: 20px;
}

.mid-panel-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mid-panel-item{
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-panel-item > p{
    text-align: center;
    color: #1F2937;
    margin: 2px;
}

.mid-panel-item > img{
    border: #3882f6 1px solid;
}


img{
    height: 250px;
    width: auto;
    border-radius: 10px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 35px;
    border-radius: 10px;

}

.top-panel{
    display: flex;
    padding: 10px 0px;
    justify-content: space-around;
}

.top-left-panel{
    color: #E5e7e5;
    width: 300px;
}



.inner-margin{
    margin: 3px 200px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5e7e5;
}

.header-left{
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
}

.header-right{
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.header{
    padding: 2px 8px;
    justify-content: space-between;
}

.main-container{
    flex-direction: column;
}