*{
    box-sizing: border-box;
}

.header, .top-panel, .main-container, .mid-panel-items{
    display: flex;
}

.main-container{
    flex-direction: column;
}

.header, .top-panel{
    background-color: #1F2937;
}